
/labs/lab1-7/lab5/dogs-cats-mini
*.keras
*.h5
*/.venv
/labs/lab1-7/lab6/zad4/images
/labs/lab1-7/lab6/zad4/resized
*/resized.zip
/image-recognition-project/annotated_samples
/image-recognition-project/crop/A10
/image-recognition-project/crop
/image-recognition-project/dataset
*.hdf5
